

  .activated-heart {
    color: #81f1f7;
  }

div {
  align-items: center;
}

h1
{
  text-align: center;
  font-family: Verdana;
}

h3 {
  text-align: center;
  font-family: Verdana;
} 

h4 {
  text-align: center;
  font-family: Verdana;
}

buttons {
  align-items: center;
}

material-dialog header {
  background-color: #c17925;
  color: #fffbf7;
  padding: 16px 24px 0 !important;
}

material-dialog main,
material-dialog footer {
  background-color: #fffed4;
}

material-dialog {
  border-radius: 8px !important;
}

material-dialog.green header {
  background-color: #28735a;
}

material-dialog.green main {
  background-color: #2ead82;
  padding: 0;
}

material-dialog.green footer {
  background-color: #53dcae;
}

material-dialog.green main.with-scroll-strokes {
  border-bottom: 0px #28735a solid;
  border-top: 0px transparent solid;
}

material-dialog footer {
  padding: 8px !important;
}




