

  .activated-heart {
    color: #81f1f7;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #buttons {
    text-align: center;
    display: inline-block;
  }

  #back, #forward {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 20%;
    align-items: center
  }

h1
{
  text-align: center;
  font-family: Verdana;
  color: #28735a ;
}

h3 {
  text-align: center;
  font-family: Verdana;
  color: #28735a ;
} 

h4 {
  text-align: center;
  font-family: Verdana;
  color: #28735a ;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

material-dialog header {
  background-color: #c17925;
  color: #fffbf7;
  padding: 16px 24px 0 !important;
}

material-dialog main,
material-dialog footer {
  background-color: #fffed4;
}

material-dialog {
  border-radius: 8px !important;
}

material-dialog.green header {
  background-color: #28735a;
}

material-dialog.green main {
  background-color: #2ead82;
  padding: 0;
}

material-dialog.green footer {
  background-color: #53dcae;
}

material-dialog.green main.with-scroll-strokes {
  border-bottom: 0px #28735a solid;
  border-top: 0px transparent solid;
}

material-dialog footer {
  padding: 8px !important;
}




