

  .activated-heart {
    color: #81f1f7;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #buttons {
    text-align: center;
    display: inline-block;
  }

  #back, #forward {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 20%;
    align-items: center
  }

h1
{
  text-align: center;
  font-family: Verdana;
  color: #28735a ;
}

h3 {
  text-align: center;
  font-family: Verdana;
  color: #28735a ;
} 

h4 {
  text-align: center;
  font-family: Verdana;
  color: #28735a ;
}

div.container img {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Add rounded corners to the top left and the top right corner of the image */
div.container {
  border-radius: 5px 5px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}





